@charset "UTF-8";

@import url("novo.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 99vw;

    opacity: 95%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: bottom center;
}

main{
    text-align: center;
    margin: auto;
}

form{
    margin-bottom: 10px;
}

img#imgEtiqueta{
    width: 191px;
    height: 107px;   
    border: 1px solid black; 

    position: relative;
}

#quadro{
    position: relative;
    margin: 2px auto;
}

div#quadro > picture > img{
    width: 153px;
    height: 275px;
}

div#quadro > span#produtoGrama{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;

    position: absolute;
    top: 162px;
    left: 112px;
}

span#dataFabricacao{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bolder;

    position: absolute;
    top: 211px;
    left: 46px;
}

span#prazoValidade{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;

    position: absolute;
    top: 224px;
    left: 48px;
}

#etiquetasPdf{ 
    width: 780px; 
    height: auto;

    margin: auto;

    display: flex;
    flex-wrap: wrap;
}
